body
{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}
div.header
{
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    font-family: arial, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: #e33729;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 20px;
}
div.header h1
{
    font-size: 36px;
    margin: 10px;
    padding: 0;
}
div.header h2
{
    font-size: 24px;
    margin: 10px;
    padding: 0;
}
img.logo
{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    float: right;
}
div.sec, div.contents
{
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color: #2c2c2b;
    background: #f5f5f5;
    border-top: 1px solid #0c0c0c;
    border-bottom: 1px solid #0c0c0c;
    font-family: arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
}
h1
{
    color: #e33729;
    font-family: 'Pontano Sans', 'Arial', sans-serif;
    font-size: 24px;
}
h2
{
    color: #e33729;
    padding-left: 16px;
}
p
{
    padding-left: 16px;
    padding-right: 16px;
    text-align: justify;
}
img.graph
{
    margin: 30px;
    padding: 0px;
    border: 1px solid #0c0c0c;
}
/* doxygen */
.headertitle
{
    font-size: 24px;
    margin: 10px;
}
pre, .memItemRight, .memItemLeft, div.memproto, div.ttdeci
{
    background: #ffffff;
    font-family: monospace;
    font-size: 110%;
    padding: 1px;
    overflow: auto;
}
div.tabs
{
    color: #2c2c2b;
    background: #f5f5f5;
    border-top: 1px solid #0c0c0c;
    border-bottom: 1px solid #0c0c0c;
    font-family: arial, sans-serif;
    font-size: 11px;
    letter-spacing: 0.5px;
    padding: 8px;
    margin-left: 40px;
    float: right;
}
div.summary
{
    color: #2c2c2b;
    background: #ffffff;
    border-top: 1px solid #0c0c0c;
    border-bottom: 1px solid #0c0c0c;
    font-family: arial, sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    text-align: center;
    padding: 15px;
    margin: 0;
}
/* doxygen: code */
div.line
{
    font-family: monospace;
    border-top: 1px solid #d8d8d8;
    padding: 1px;
}
SPAN.keyword       { color: #008000 }
SPAN.keywordtype   { color: #604020 }
SPAN.keywordflow   { color: #e08000 }
SPAN.comment       { color: #800000 }
SPAN.preprocessor  { color: #806020 }
SPAN.stringliteral { color: #002080 }
SPAN.charliteral   { color: #008080 }
span.lineno
{
    padding: 4px;
    color: #555555;
}
.paramname
{
    font-family: monospace;
}
.memname
{
    font-weight: bold;
}

/* links */
a
{
}

a:link, a:visited
	      {
		  font-weight: bold;
		  text-decoration: none;
		  color: #c02010;
	      }
a:hover, a:active
	       {
		   background: #d8d8d8;
		   text-decoration: underline;
		   color: #e33729;
	       }
a.code { color: inherit; }
